@use '../../../styles' as *;

$height-banner: 500px;
.wrapper {
    // display: flex;

    margin-top: $height-header;
    padding: 32px 70px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);

    .article-wrapper {
        position: relative;

        height: 100%;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
            border-radius: 4px;
        }

        .img-banner {
            height: 100%;
            width: 100%;

            object-fit: cover;

            border-radius: 4px;
            border: 1px solid #e1e1e1;

            &:hover {
                cursor: pointer;
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;

            margin: 24px;
            text-shadow: 1px 1px 2px #000;

            .article-type {
                color: #ff6961;
                font-size: 1.4rem;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }
            .title {
                color: #eee;
                font-size: 2.6rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .other-info {
                display: flex;
                align-items: center;
                color: #fff;
                .author {
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover {
                        cursor: pointer;
                    }
                }
                .author,
                .time {
                    font-size: 1.6rem;
                    color: #e1e1e1;
                }
                .separate {
                    margin: 0 16px;
                    width: 1px;
                    height: 10px;
                    background-color: #fff;
                }
            }
        }
    }

    .left-wrapper {
        grid-column: 1/4;
        grid-row: 1/3;
        height: $height-banner;
    }
    .right-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 8px;

        height: $height-banner;
        .top-box,
        .bottom-box {
            height: calc($height-banner / 2 - 4px);

            .article-wrapper {
                .info {
                    margin: 16px;
                    .article-type {
                        font-size: 1.2rem;
                    }
                    .title {
                        font-size: 1.8rem;
                    }
                    .other-info {
                        .author,
                        .time {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        .top-box {
        }
        .bottom-box {
        }
    }
}
