@use '../../styles/' as *;

$width-side-bar-left: 25%;

.wrapper {
    display: flex;
    margin-left: -70px;
    width: calc(100% + 140px);
    height: calc(100vh - $height-header * 2);
    margin-top: calc($height-header + 24px);

    .profile-wrapper {
        flex-basis: $width-side-bar-left;
        padding: 0 24px;

        border-right: 1px solid #ccc;
        .avatar {
            display: block;

            width: 180px;
            height: 180px;

            margin: 0 auto;

            border-radius: 16px;
            object-fit: cover;
        }
        .about-yourself {
            margin: 16px 0px;

            font-style: italic;
            text-align: justify;
            color: $text-color-primary;
        }
        .row {
            display: flex;

            margin: 16px 0;
        }
        .column {
            min-width: 100px;

            color: $text-color-primary;
            font-weight: 500;
            &:nth-child(1) {
                margin-right: 8px;
            }
        }

        .button-wrapper {
            display: flex;
            justify-content: space-between;

            .btn {
                margin: 16px 0;
            }
        }
    }

    .post-wrapper {
        flex-basis: calc(100% - $width-side-bar-left);
        position: relative;
        // margin-left: 24px;
        padding: 0px 16px;

        height: 100%;

        overflow-y: scroll;
        .heading {
            position: sticky;
            top: 0;

            padding-bottom: 8px;

            font-size: 2.2rem;
            font-weight: 600;
            letter-spacing: 2px;

            background-color: #fff;

            text-transform: uppercase;
            color: $text-color-primary;
        }
        .body {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 32px;
        }
    }
}
